<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/public/images/logo.png" type="images/x-icon">
    <title>Pitech Lab</title>
    <link rel="stylesheet" href="../css/component.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/product.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <section class="sidebar-container" id="sidebar">
            <div class="sidebar-header">
                <div class="sidebar-logo">
                    <a href="../views/home.html">
                        <span>pitech lab</span>
                    </a>
                </div>
                <div class="side-menu-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            <div class="nav">
                <ul class="side-menu">
                    <li class="active"><a href="../views/index.html"><i class="fa-solid fa-house"></i><span class="side-text">Định
                                hướng</span></a></li>
                    <li><a href="#"><i class="fa-solid fa-cubes"></i><span class="side-text">Các gói đào tạo</span><i
                                class="arrow fa-solid fa-chevron-down"></i></a>
                        <ul class="side-sub-menu">
                            <li><a href="../views/product.html">
                                    <span class="side-text">Phát triển phần mềm</span>
                                </a></li>
                            <li><a href="../views/product.html">
                                    <span class="side-text">Khoa học dữ liệu</span>
                                </a></li>
                            <li><a href="../views/product.html">
                                    <span class="side-text">AI</span>
                                </a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa-regular fa-clone"></i><span class="side-text">Sản phẩm</span><i
                                class="arrow fa-solid fa-chevron-down"></i></a>
                        <ul class="side-sub-menu">
                            <li><a href="">
                                    <span class="side-text">Web doc theo chuyên đề</span>
                                </a></li>
                            <li><a href="">
                                    <span class="side-text">Chuyển đổi số cho trường học phổ thông</span>
                                </a></li>
                            <li><a class="arrow-2" href="">
                                    <span class="side-text">Công nghệ AI</span><i
                                        class="arrow-3 fa-solid fa-chevron-down"></i>
                                </a>
                                <ul class="side-sub-menu-2">
                                    <li><a href="../views/product.html">
                                            <span class="side-text">Mô hình ngôn ngữ lớn</span>
                                        </a></li>
                                    <li><a href="">
                                            <span class="side-text">Dịch vu nhận dạng văn bản</span>
                                        </a></li>
                                    <li><a href="">
                                            <span class="side-text">Điểm danh bằng khuôn mặt</span>
                                        </a></li>
                                    <li><a href="">
                                            <span class="side-text">Nhận dạng biển số xe</span>
                                        </a></li>
                                    <li><a href="">
                                            <span class="side-text">Nhận dạng ảnh và xác nhận chữ ký</span>
                                        </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa-regular fa-address-card"></i><span class="side-text">Về chúng tôi</span></a>
                    </li>
                    <li><a href="#"><i class="fa-regular fa-newspaper"></i><span class="side-text">Tin tức</span></a>
                    </li>
                </ul>
            </div>
            <ul class="side-menu">
                <li><a href="#"><i class="fa-solid fa-headset"></i><span class="side-text">Liên hệ</span></a></li>
            </ul>
        </section>
        <!-- Sidebar End -->
        <!-- Home -->
        <div class="home-container">
            <!-- Banner Home -->
            <div class="banner-home-container">
                <div class="bannerHome slideActive">
                    <div class="banner-slide">
                        <img src="../assets/public/images/BANNER-2.png" alt="">
                    </div>
                    <div class="banner-slide-content">
                        <h2>Thuật toán </h2>
                        <h3><span>AI</span> Ưu việt</h3>
                        <h4>Thúc đẩy trải nghiệm khách hàng</h4>
                        <p>Hãy đồng hành cùng chúng tôi khai phá sức mạnh của Trí Tuệ Nhân Tạo (AI) để tạo ra những mô
                            hình kinh doanh mới trong kỷ nguyên 4.0</p>

                        <div class="banner-slide-button">
                            <a href="" class="banner-slide-btn left">Liên hệ tư vấn<i
                                    class="fa-solid fa-arrow-right"></i></a>
                            <a href="" class="banner-slide-btn right">Khám phá sản phẩm<i
                                    class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bannerHome">
                    <div class="banner-slide">
                        <img src="../assets/public/images/BANNER.png" alt="">
                    </div>
                    <div class="banner-slide-content">
                        <h2>Thuật toán 3 </h2>
                        <h3><span>AI</span> Ưu việt</h3>
                        <h4>Thúc đẩy trải nghiệm khách hàng</h4>
                        <p>Hãy đồng hành cùng chúng tôi khai phá sức mạnh của Trí Tuệ Nhân Tạo (AI) để tạo ra những mô
                            hình kinh doanh mới trong kỷ nguyên 4.0</p>

                        <div class="banner-slide-button">
                            <a href="" class="banner-slide-btn left">Liên hệ tư vấn<i
                                    class="fa-solid fa-arrow-right"></i></a>
                            <a href="" class="banner-slide-btn right">Khám phá sản phẩm<i
                                    class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bannerHome">
                    <div class="banner-slide">
                        <img src="../assets/public/images/BANNER-2.png" alt="">
                    </div>
                    <div class="banner-slide-content">
                        <h2>Thuật toán 2 </h2>
                        <h3><span>AI</span> Ưu việt</h3>
                        <h4>Thúc đẩy trải nghiệm khách hàng</h4>
                        <p>Hãy đồng hành cùng chúng tôi khai phá sức mạnh của Trí Tuệ Nhân Tạo (AI) để tạo ra những mô
                            hình kinh doanh mới trong kỷ nguyên 4.0</p>

                        <div class="banner-slide-button">
                            <a href="" class="banner-slide-btn left">Liên hệ tư vấn<i
                                    class="fa-solid fa-arrow-right"></i></a>
                            <a href="" class="banner-slide-btn right">Khám phá sản phẩm<i
                                    class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="banner-navigation">
                    <span class="banner-prev-btn">
                        <i class="fa-solid fa-chevron-left"></i>
                    </span>
                    <span class="banner-next-btn">
                        <i class="fa-solid fa-chevron-right"></i>
                    </span>
                </div>
            </div>
            <!-- Banner Home End -->

            <!-- Story -->
            <section class="story">
                <div class="container-story">
                    <div class="container__left">
                        <h1>về "Pitech Lab"</h1>
                        <div class="container__btn">
                            <button class="btn">Tìm hiểu thêm</button>
                        </div>
                    </div>
                    <div class="container__right">
                        <div class="images">
                            <img src="../assets/public/images/tam-giac.png" alt="tent-1" class="tent-1" />
                            <img src="../assets/public/images/tron.png" alt="tent-2" class="tent-2" />
                        </div>
                        <div class="content">
                            <h4>by BinhTN</h4>
                            <h3>“Giải pháp phần mềm”</h3>
                            <p>
                                Pitech Lab mang sứ mệnh đem đến những sản phẩm dịch vụ công nghệ mới, có hàm lượng khoa
                                học, phù hợp với tư thế chuyển đổi số cách mạng công nghệ 4.0, giúp đẩy mạnh tiến độ
                                phát triển, tạo ra bước tiến vượt bậc.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Story End-->

            <!-- Company -->
            <section class="why_us" id="why">
                <div class="section_container">
                    <div class="why_container">
                        <div class="why_items">
                            <h1>100+</h1>
                            <div class="why_us_text">
                                <h3>Chuyên gia và kỹ sư</h3>
                                <p>
                                    Lorem ipsum excepturi maxime tempore quod animidi, inventore!
                                </p>
                            </div>
                        </div>
                        <div class="why_items">
                            <h1>10+</h1>
                            <div class="why_us_text">
                                <h3>Hình thành và phát triển</h3>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                        <div class="why_items">
                            <h1>100+</h1>
                            <div class="why_us_text">
                                <h3>Dự án công nghệ hoàn thiện</h3>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Company End-->

            <!-- Course -->
            <div class="course-home-container">
                <h1 class="section_title">Công nghệ và Đào tạo</h1>
                <div class="course-home">
                    <div class="course-home-item">
                        <img src="../assets/public/images/6004890.jpg" alt="" class="course-home-image">
                        <div class="text-course">
                        </div>
                        <div class="course-home-logo">
                            <img src="../assets/public/images/c.png" alt="">
                        </div>
                        <div class="course-home-content">
                            <p>Khóa học lập trình C#</p>
                        </div>
                        <div class="course-home-btn">
                            <a href="#">Xem thêm ...</a>
                        </div>
                    </div>
                    <div class="course-home-item">
                        <img src="../assets/public/images/6004890.jpg" alt="" class="course-home-image">
                        <div class="text-course">
                        </div>
                        <div class="course-home-logo">
                            <img src="../assets/public/images/c.png" alt="">
                        </div>
                        <div class="course-home-content">
                            <p>Khóa học lập trình C#</p>
                        </div>
                        <div class="course-home-btn">
                            <a href="#">Xem thêm ...</a>
                        </div>
                    </div>
                    <div class="course-home-item">
                        <img src="../assets/public/images/6004890.jpg" alt="" class="course-home-image">
                        <div class="text-course">
                        </div>
                        <div class="course-home-logo">
                            <img src="../assets/public/images/c.png" alt="">
                        </div>
                        <div class="course-home-content">
                            <p>Khóa học lập trình C#</p>
                        </div>
                        <div class="course-home-btn">
                            <a href="#">Xem thêm ...</a>
                        </div>
                    </div>
                    <div class="course-home-item">
                        <img src="../assets/public/images/6004890.jpg" alt="" class="course-home-image">
                        <div class="text-course">
                        </div>
                        <div class="course-home-logo">
                            <img src="../assets/public/images/c.png" alt="">
                        </div>
                        <div class="course-home-content">
                            <p>Khóa học lập trình C#</p>
                        </div>
                        <div class="course-home-btn">
                            <a href="#">Xem thêm ...</a>
                        </div>
                    </div>
                    <div class="course-home-item">
                        <img src="../assets/public/images/6004890.jpg" alt="" class="course-home-image">
                        <div class="text-course">
                        </div>
                        <div class="course-home-logo">
                            <img src="../assets/public/images/c.png" alt="">
                        </div>
                        <div class="course-home-content">
                            <p>Khóa học lập trình C#</p>
                        </div>
                        <div class="course-home-btn">
                            <a href="#">Xem thêm ...</a>
                        </div>
                    </div>
                    <div class="course-home-item">
                        <img src="../assets/public/images/6004890.jpg" alt="" class="course-home-image">
                        <div class="text-course">
                        </div>
                        <div class="course-home-logo">
                            <img src="../assets/public/images/c.png" alt="">
                        </div>
                        <div class="course-home-content">
                            <p>Khóa học lập trình C#</p>
                        </div>
                        <div class="course-home-btn">
                            <a href="#">Xem thêm ...</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Course End -->

            <!-- Timeline -->
            <div class="timeline">
                <div class="year">
                    <div class="inner">
                        <span>2016</span>
                    </div>
                </div>

                <ul class="days">
                    <li class="day">
                        <div class="events">
                            <p>Lorem dolor sit amet, consectetur adipisicing elit. Eius perferendis vitae, facere
                                accusantium
                                magni, explicabo mollitia quidem odio autem, iste optio? Consequuntur ratione dolorum
                                velit
                                maiores quam odit odio suscipit.</p>
                        </div>
                    </li>

                    <li class="day">
                        <div class="events">
                            <div class="day__img">
                                <img src="../assets/public/images/class-1.jpg" alt="" />
                            </div>
                        </div>
                    </li>

                    <li class="day">
                        <div class="events">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius perferendis vitae, facere
                                accusantium magni, explicabo mollitia quidem odio autem, iste optio? Consequuntur
                                ratione
                                dolorum velit maiores quam odit odio suscipit.</p>
                        </div>
                    </li>

                    <li class="day">
                        <div class="events">
                            <div class="day__img">
                                <img src="../assets/public/images/class-2.jpg" alt="" />
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="year year--end">
                    <div class="inner">
                        <span class="span_year--end">Pitech Lab</span>
                    </div>
                </div>
            </div>
            <div class="timeline">
                <div class="year">
                    <div class="inner">
                        <span>2017</span>
                    </div>
                </div>
                <ul class="days">
                    <li class="day">
                        <div class="events">
                            <p>Lorem dolor sit amet, consectetur adipisicing elit. Eius perferendis vitae, facere
                                accusantium
                                magni, explicabo mollitia quidem odio autem, iste optio? Consequuntur ratione dolorum
                                velit
                                maiores quam odit odio suscipit.</p>
                        </div>
                    </li>
                    <li class="day">
                        <div class="events">
                            <div class="day__img">
                                <img src="../assets/public/images/class-3.jpg" alt="" />
                            </div>
                        </div>
                    </li>
                    <li class="day">
                        <div class="events">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius perferendis vitae, facere
                                accusantium magni, explicabo mollitia quidem odio autem, iste optio? Consequuntur
                                ratione
                                dolorum velit maiores quam odit odio suscipit.</p>
                        </div>
                    </li>
                    <li class="day">
                        <div class="events">
                            <div class="day__img">
                                <img src="../assets/public/images/class-1.jpg" alt="" />
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="year year--end">
                    <div class="inner">
                        <span class="span_year--end">Pitech Lab</span>
                    </div>
                </div>
            </div>
            <!-- Timeline End -->

            <!-- Blog -->
            <div class="home-blog-container">
                <h1 class="section_title">Tin tức</h1>
                <div class="home-blog">
                    <div class="blog-home-item">
                        <img src="../assets/public/images/blog-1.jpg" alt="" class="blog-home-img">
                        <div class="blog-home-text">
                            <span><i class="fa-regular fa-calendar"></i>22 September 2024 </span>
                            <h5>Đào tạo công nghệ thông tin</h5>
                            <a href="">Xem thêm</a>
                        </div>
                    </div>
                    <div class="blog-home-item">
                        <img src="../assets/public/images/blog-1.jpg" alt="" class="blog-home-img">
                        <div class="blog-home-text">
                            <span><i class="fa-regular fa-calendar"></i>22 September 2024 </span>
                            <h5>Đào tạo công nghệ thông tin</h5>
                            <a href="">Xem thêm</a>
                        </div>
                    </div>
                    <div class="blog-home-item">
                        <img src="../assets/public/images/blog-1.jpg" alt="" class="blog-home-img">
                        <div class="blog-home-text">
                            <span><i class="fa-regular fa-calendar"></i>22 September 2024 </span>
                            <h5>Đào tạo công nghệ thông tin</h5>
                            <a href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Blog -->
        </div>
        <!-- Home End -->
    </div>
    <script src="../js/main.js"></script>
</body>
</html>